<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="ChangeLogDirectory" value="/ChangeLogs" />
            <setting name="ChangeLogMax" value="500" />
        </settings>
        <events>
            <event name="item:saving">
                <handler type="UnhandledException.Feature.SitecoreExtensions.Pipelines.OnItemSavingHandler, UnhandledException.Feature.SitecoreExtensions" method="OnItemSaving">
                </handler>
            </event>
        </events>
    </sitecore>
</configuration>